h6{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.6px;
    color: #FFFFFF;
}
.footer {
    max-width: 1770px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: #232323;
    &__container {
        height: 50%;
        width: 14%;
    }
    &__element{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; 
        height: 100%;
    }
    &__icon-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; 
        width: 100%;
    }
    
}
@media screen and (max-width: 1600px) {
    h6{
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1px;
    }
}
@media screen and (max-width: 1320px) {
    h6{
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
    }
}
@media screen and (max-width: 920px) {
    h6{
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 1px;
    }
    .footer{
        &__container {
            width: 20%;
        }
    }
}
@media screen and (max-width: 600px) {
    h6{
        font-size: 9px;
        line-height: 16px;
        letter-spacing: 1px;
    }
    .footer{
        &__container {
            width: 27%;
        }
    }
}
@media screen and (max-width: 500px) {
    .footer{
        &__container {
            width: 32%;
        }
    }
}
@media screen and (max-width: 400px) {
    .footer{
        &__container {
            width: 35%;
        }
    }
}