.nav {
    width: 45%;
    display: flex;
    align-self: center;  
    justify-content: flex-end;
    column-gap: 5%;
    flex-wrap: wrap;
    overflow: hidden;
}
.nav a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
    display: block;
}
.nav a.active {
    background-color: #04AA6D;
    color: white;
  }

.nav .icon {
    display: none;
}

input:focus {
    color: #3d1515;
    background: #d4c1c1;
}
.header {
    max-width: 1770px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    &__welcome-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly; 
        height: 85vh;
        width: 100%;
        background-image: url(../images/background1.png);
    }
    &__title {
        display: flex;
        flex-direction: column;
        height: 40%;
        justify-content: flex-end;
        row-gap: 10px;
    }
    &__title h1 {
        font-weight: bold;
        font-size: 48px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__title h2 {
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 6.82px;
        color: #FFFFFF;
    }
    &__txt{
        font-size: 14px;
        line-height: 26px;
        display: flex;
        text-align: center;
        letter-spacing: 2.8px; 
        color: #FFFFFF; 
    }
    &__form {
        width: 100%;
        display: flex;
    }
    &__search-form{
        display: flex;
        flex-direction: row;
        width: 35%;
        height: 10%;
    }
    &__search-form-input-field{
        color: #999999;
        width: 75%;
        background: #FFFFFF;
        border-color: #FFFFFF;
    }
    &__search-form-btn {
        background: #5474FD;
        border: 2px solid #FFFFFF;
        width: 30%;
        justify-content: center;
        box-sizing: border-box;
        align-items: center;
    }
    &__scrolldown{
        display: flex;
        flex-direction: column;
        align-items: center;
        .arrow-style {
            color: white;
        }
    }
    &__menu{
        height: 15vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #5474FD;
        &__logo{
            width: 20%;
            display: flex;
            align-self: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__logo-txt{
            font-weight: bold;
            font-size: 24px;
            line-height: 26px;
            align-items: center;
            letter-spacing: 2.4px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &__text{
            font-family: Aleo;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}
@media screen and (max-width: 1300px) {
    .header {
         &__title {
            row-gap: 9px;
        }
        &__title h1 {
            font-size: 40px;
            line-height: 20px;
            letter-spacing: 4px;
        }
        &__title h2 {
            font-size: 26px;
            line-height: 16px;
            letter-spacing: 6px;
        }
        &__txt{
            font-size: 8px;
            line-height: 20px;
            letter-spacing: 2px; 
        }
        &__menu{
            &__logo-txt{
                font-size: 20px;
                line-height: 22px;
                letter-spacing: 2px;
            }
            &__text{
                font-family: Aleo;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
         &__title {
            row-gap: 9px;
        }
        &__title h1 {
            font-size: 38px;
            line-height: 18px;
            letter-spacing: 2px;
        }
        &__title h2 {
            font-size: 24px;
            line-height: 14px;
            letter-spacing: 4px;
        }
        &__txt{
            font-size: 6px;
            line-height: 14px;
            letter-spacing: 1.8px; 
        }
        &__menu{
            &__logo-txt{
                font-size: 18px;
                line-height: 20px;
                letter-spacing: 1.8px;
            }
        }
    }
}
@media screen and (max-width: 660px) {
    .header {
         &__title {
            row-gap: 8px;
        }
        &__title h1 {
            font-size: 28px;
            line-height: 15px;
            letter-spacing: 1.6px;
        }
        &__title h2 {
            font-size: 20px;
            line-height: 10px;
            letter-spacing: 2px;
        }
        &__txt{
            font-size: 5px;
            line-height: 11px;
            letter-spacing: 1.2px; 
        }
        &__menu{
            &__logo-txt{
                font-size: 15px;
                line-height:16px;
                letter-spacing: 1.2px;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .header {
        &__title {
           row-gap: 7px;
       }
       &__title h1 {
           font-size: 26px;
           line-height: 14px;
           letter-spacing: 1.3px;
       }
       &__title h2 {
           font-size: 18px;
           line-height: 8px;
           letter-spacing: 1.3px;
       }
       &__txt{
           font-size: 5px;
           line-height: 10px;
           letter-spacing: 1px; 
       }
       &__menu{
           &__logo-txt{
               font-size: 14px;
               line-height:15px;
               letter-spacing: 1.2px;
           }
       }
   }
}
@media screen and (max-width: 500px) {
    .nav a {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 500px) {
    .nav.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        background-color: #FFFFFF;
    }
    .nav.responsive  a:not(:first-child) {
      float: none;
      display: block;
      text-align: left;
      color: #242635;
      width: 100%; 
    }
    .nav.responsive .icon {
        position: absolute;  
        left: 0;
        top: 0;
       }
    .nav.responsive a:not(:first-child):hover {
        background-color: #6d6b6949;
      }
  }
