body {
    font-style: normal;
    font-weight: normal;
    color: #E8E8E8;
    font-family: Aleo;
}
button:hover {
    background: #899cf1; 
}
a:hover {
    color: #0828b4;
}
h2 {
    font-size: 36px;
    line-height: 26px;
}
p{
    font-family: Josefin Sans;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
}
.icon-blue {
    color:#5474FD;
}
.main__section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1770px;
    &__img {
        max-width: 350px;
    }
    &__btn {
        font-size: 16px;
        line-height: 26px;
        align-items: center;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #5474FD;
        max-width: 47%;
        height: 12%;
        border: none;
        :hover {
            background: #899cf1; 
        }
    }
    &__whyCU{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-image: url(../images/background2.png);
        height: 80vh;
        font-family: Josefin Sans;
        font-style: normal;
        font-weight: normal;
    }
    &__howIW{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 30vh;
        background-color: #333333 ;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        align-items: center;
        justify-content: space-evenly;
        align-content: center;
    }
    &__text-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 70%;
        height: 80%;
        justify-content: space-evenly;
    }
    &__img-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        width: 60%;
        justify-content: center;
        row-gap: 10px;
    }
    .img1-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .img2-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}
.main__section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../images/background3.png);
    height: 80vh;  
    align-items: center;
    justify-content: center;
    
}
.main__section3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../images/background4.png);
    height: 80vh;  
    align-items: center;
    justify-content: center;
}
.main__section4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../images/background5.png);
    height: 80vh;  
    align-items: center;
    justify-content: center;
    &__container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 80%;
        width: 70%;
        justify-content: space-evenly;
        align-items: center;
    }
    &__card__aligner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__img {
        width: auto;
    }
}
.main__section{
    &__card__aligner{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 60%;
    }
}
@media screen and (max-width: 1200px) {
    h2 {
        font-size: 26px;
        line-height: 16px;
    }
    p{
        font-family: Josefin Sans;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 1px;
    }
    .main__section1 {
        &__img {
            width: 300px;
        }
        &__btn {
            font-size: 10px;
            line-height: 20px;
            align-items: center;
            letter-spacing: 1px;
            text-transform: uppercase;
        }}
        .main__section4 {
            &__img {
                width: 300px;
            }
        }
}
@media screen and (max-width: 860px) {
    h2 {
        font-size: 24px;
        line-height: 14px;
    }
    p{
        font-family: Josefin Sans;
        font-size: 9px;
        line-height: 18px;
        letter-spacing: 1px;
    }
    .main__section1 {
        &__img {
            width: 300px;
        }
        &__btn {
            font-size: 9px;
            line-height: 18px;
            letter-spacing: 1px;
        }}
        .main__section4 {
            &__img {
                width: 300px;
            }
        }
}
@media screen and (max-width: 800px) {
    h2 {
        font-size: 20px;
        line-height: 10px;
    }
    p{
        font-family: Josefin Sans;
        font-size: 7px;
        line-height: 15px;
        letter-spacing: 0.5px;
    }
    .main__section1 {
        &__img {
            width: 270px;
        }
        &__btn {
            font-size: 7px;
            line-height: 15px;
            letter-spacing: 0.5px;
        }}
        .main__section4 {
            &__img {
                width: 270px;
            }
        }
}
@media screen and (max-width: 750px) {
    h2 {
        font-size: 15px;
        line-height: 7px;
    }
    p{
        font-size: 7px;
        line-height: 8px;
        letter-spacing: 0.2px;
    }
    .main__section1 {
        &__img {
            width: 210px;
        }
        &__btn {
            font-size: 4px;
            line-height: 10px;
            letter-spacing: 0.2px;
        }}
        .main__section4 {
            &__img {
                width: 230px;
            }
        }
        .main__section4 {
            &__container{
                width: 80%;
        }
    }
}
@media screen and (max-width: 540px) {
    h2 {
        font-size: 15px;
        line-height: 7px;
    }
    p{
        font-size: 7px;
        line-height: 8px;
        letter-spacing: 0.2px;
    }
    .main__section1 {
        &__img {
            width: 120px;
        }
        &__btn {
            font-size: 4px;
            line-height: 7px;
            letter-spacing: 0.2px;
        }}
        .main__section4 {
            &__img {
                width: 130px;
            }
        }
        .main__section4 {
            &__container{
                width: 83%;
        }
    }
}
@media screen and (max-width: 320px) {
    h2 {
        font-size: 15px;
        line-height: 7px;
    }
    p{
        font-size: 7px;
        line-height: 8px;
        letter-spacing: 0.2px;
    }
    .main__section1 {
        &__img {
            width: 90px;
        }
        &__btn {
            font-size: 4px;
            line-height: 7px;
            letter-spacing: 0.2px;
        }}
        .main__section4 {
            &__img {
                width: 110px;
            }
        }
        .main__section4 {
            &__container{
                width: 83%;
        }
    }
}
@import 'card';