button:hover {
    background: #899cf1; 
}
a:hover {
    color: #0828b4;
}
.main__section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1770px;
    font-style: normal;
    font-weight: normal;
    color: #E8E8E8;
    font-family: Aleo;
    h2 {
        font-size: 36px;
        line-height: 26px;
    }
    p{
        font-family: Josefin Sans;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1.6px;
    }
    &__section1__img {
        max-width: 350px;
    }
    &__btn {
        font-size: 16px;
        line-height: 26px;
        align-items: center;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #5474FD;
        max-width: 47%;
        height: 15%;
        border: none;
        :hover {
            background: #899cf1; 
        }
    }
    &__whyCU{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-image: url(../images/background2.png);
        height: 80vh;
        font-family: Josefin Sans;
        font-style: normal;
        font-weight: normal;
    }
    &__howIW{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 30vh;
        background-color: #333333 ;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        align-items: center;
        justify-content: space-evenly;
        align-content: center;
    }
    &__text-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 70%;
        height: 80%;
        justify-content: space-evenly;
    }
    &__img-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       /*  width: 70%;
        max-height: 70%; */
        height: 100%;
        width: 60%;
        justify-content: center;
        row-gap: 10px;
    }
    .img1-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .img2-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}
.main__section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../images/background3.png);
    height: 80vh;  
    align-items: center;
    justify-content: center;
    
}
.main__section3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../images/background4.png);
    height: 80vh;  
    align-items: center;
    justify-content: center;
}
.main__section{
    &__card__aligner{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 60%;
    }
}
@import 'card';